build/
bin/
obj/
*.elf
*.bin
*.hex
*.map
*.o
*.d
.build/

.exttech/
.settings/
.vscode/
.project
.cproject
.clion/

__pycache__/
*.pyc
.venv/
venv/
env/
.ipynb_checkpoints/
*.h5
*.pth
*.onnx

ml/datasets/*
!ml/datasets/.gitkeep
*.raw
*.pcm
*.wav
*.png
*.jpg
*.jpeg

mobile_app/.dart_tool/
mobile_app/.idea/
mobile_app/build/
mobile_app/android/.gradle/
mobile_app/ios/Pods/
mobile_app/node_modules/

.DS_Store
Thumbs.db